.SearchBox {
    margin: 50px auto 0!important;
    width: 30%;
    position: relative;
}

.SearchBox input {
    position: relative;
    padding-left: 20px !important;
    border-radius: 25px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: 0;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all .3s;
}

.SearchBox .SearchIcon {
    position: absolute;
    right: 0;
    top: 16px;
    cursor: pointer;
    color: #a9a9a9;
}