li {
    width: 35px;
    height: 30px;
    margin-right: 11px;
    display: inline-block;
    /* padding: 0 10px; */
    background-color: #f9f7f7;
    list-style-type: none;
    border-radius: 23px;
    text-align: center;
    cursor: pointer;
}

li.active {
    background-color: #293952;
}

li a {
    color: #444;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
    cursor: pointer;
    vertical-align: sub;
}

li.active a{
    color: #fff;
}