.Photo {
  display: inline-block;
  background-color: white;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  margin: 20px;
}

.Photo:hover {
  box-shadow: 0 8px 20px 14px rgba(0,0,0,0.2);
}

.Photo img{
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}
.Photo description {
  padding: 2px 16px;
}